


/*  Modules  file info
*/

.file-info {
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    gap: 0 3.2vw;
    background-color: #2885D181;
    color: #ffffff;
}

.file-info.inactive {
    display: none;
}

.filepath {
    width: 100%;
    margin: 0;
    padding: 0;
}

.filesize {
    margin: 0;
    padding: 0;
}

.imagesize {
    margin: 0;
    padding: 0;
}


