
/*  Modules  file info
*/

.fileInfo {
    width: 100%;
}

.topBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0 3.2vw;
}

.bottomBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0 3.2vw;
}

.filePath,
.progress,
.fileSize,
.imageSize,
.zoomLevel {
    margin: 0;
    padding: 0;
}


